div {
   font-family: Arial;
}
img {
    max-width: auto;
    max-height: auto;
}
p {
    border: thin solid gold; /* Shorthand für untere drei Befehle*/
/*     border-width: thin;
    border-style: solid;
    border-color: gold; */
}
/* #selektor für IDs */
#angebotContainer {
    border: thin solid black;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 10% 70% 10%;
    grid-gap: 1em;
}
#anmeldeContainer {

    grid-column: 1/2;
    grid-row: 1/2;
    background-color: lightblue;
    

}
header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: lightblue;

}
#angebotContainer {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: lightblue;
}
nav {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: lightblue;
}
#asideLeft {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: lightblue;

}
section {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: lightblue;

}
#asideRight {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: lightblue;

}
footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: lightblue;

}

#cookieConfirm {
    position: fixed;
    width: 90%;
    text-align: center;
    bottom: 0;
    padding: 1em;
    border: thin solid;
    margin: auto;

}